
### Need to update thiss

project: "bgremoval"

# Domain refers to the environment:
# common values: development / staging / production
domain: "development"

# Your Docker image (used by Flyte to run your tasks)
image: "<sheetalkothari>/bg-removal:latest"

# Flyte Cloud endpoint (your org gives this)
# Examples:
# flyte: "https://flyte.mycompany.com"
# flyte: "https://console.flyte.cloud"
flyte: "https://YOUR-FLYTE-CLOUD-ENDPOINT"
